<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="kr">
<th:block layout:fragment="content">
    <header id="main-header" class="py-2 bg-secondary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6" align="center">
                    <h1><i class="fas fa-user-lock mr-sm-1"></i>비밀번호 찾기</h1>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <div class="py-2">
                            <a href="/MemberLogin" class="nav-link text-white">
                                <i class="fas fa-user-circle mr-sm-1"></i>
                                로그인
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav py-2 mb-2 pl-3 pr-3">
                    <li>
                        <a href="/petnote" class="navbar-brand text-white">
                            <i class="fa fa-home"></i>홈
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row"></div>
        </div>
    </section>
    <section id="result">
        <div class="container">
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>비밀번호 찾기 결과</h4>
                        </div>
                        <div class="card-body">
                            <div id="result-container" class="text-center">
                                <!-- 결과가 여기에 표시됩니다. -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 mx-auto py-3 mb-3">
                    <div>
                    <span>
                        <button type="button" class="btn btn-outline-warning" onclick="location.href='/PasswordSearch'">
                            <i class="fas fa-user-lock mr-sm-1"></i>비밀번호 찾기
                        </button>
                    </span>
                        <span>
                        <button type="button" class="btn btn-outline-info" onclick="location.href='/MemberSignUp'">
                            <i class="fas fa-user-plus mr-sm-1"></i>회원 가입
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function getParameterByName(name) {
            const url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        document.addEventListener('DOMContentLoaded', function() {
            const password = getParameterByName('password');
            if (password) {
                document.getElementById('result-container').innerHTML = `
                <p class="text-success">찾으시는 비밀번호는 <b class="text-info">${password}</b> 입니다.</p>
            `;
            } else {
                document.getElementById('result-container').innerHTML = `
                <p class="text-danger">찾으시는 비밀번호가 존재하지 않습니다.</p>
            `;
            }
        });
    </script>
</th:block>
</html>
